* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-header: #121213;
    --cor-links: #e2e2e4;
    --cor-texto-botao: #0f0f0f;
    --cor-botao: #e7e6e9;
    --fundo-body: rgb(7, 7, 7);
    --border-button-header: 1px solid #fffeff3f;
    --hover-botao: #faf9fc;
    --fundo-form: #151515;
    --fundo-input: #222121;
    --borda-input: 0.5px rgba(255, 255, 255, 0.416) solid;
    --cor-texto-input: rgb(205, 204, 204);
    --cor-texto: rgb(237, 233, 233);
    --shadow-inputs-form: 0 0 0 3px rgba(255, 255, 255, 0.184);
}

body {
    background-color: var(--fundo-body);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 20px;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: var(--fundo-header);
    border-bottom: var(--border-button-header);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.logo img {
    width: 80px;
    height: auto;
}

.links,
nav,
ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.links a {
    text-decoration: none;
    color: var(--cor-links);
    font-weight: bold;
    font-size: 15px;
}

#icon {
    width: 15px;
    height: auto;
}

.botoes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botoes button {
    padding: 10px 20px;
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    border: none;
    font-size: 12px;
    font-weight: 550;
    border-radius: 15px;
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.botoes button:hover {
    background-color: var(--hover-botao);
}

#formulario[open] {
    width: 100%;
    max-width: 450px;
    border: none;
    padding: 20px 10px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--fundo-form);
}

form {
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formulario .titulo {
    width: 90%;
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulario .titulo h2 {
    font-size: 25px;
    color: var(--cor-texto);
    text-align: center;
}

#formulario .inputs {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formulario .inputs input {
    width: 80%;
    height: 40px;
    border-radius: 7px;
    padding: 5px 15px;
    outline: none;
    border: var(--borda-input);
    background-color: var(--fundo-input);
    color: var(--cor-texto-input);
    transition: 0.4s;
}

#formulario .inputs input:hover {
    background-color: rgb(57, 56, 56);
}

#formulario .inputs input:focus {
    box-shadow: var(--shadow-inputs-form);
}

#formulario .textAreas {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulario .textAreas textarea {
    width: 80%;
    resize: vertical;
    min-height: 90px;
    border-radius: 7px;
    outline: none;
    padding: 10px 15px;
    background-color: var(--fundo-input);
    color: var(--cor-texto-input);
    border: var(--borda-input);
    transition: 0.4s;
}

#formulario .textAreas textarea:hover {
    background-color: rgb(57, 56, 56);
}

#formulario .textAreas textarea:focus {
    box-shadow: var(--shadow-inputs-form);
}

.btn-close {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.btn-close button {
    width: 40px;
    height: 100%;
    background-color: transparent;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.4s;
}

.btn-close button:hover {
    background-color: #dcdcdf1e;
}

.botao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.botao button {
    width: 80%;
    max-width: 200px;
    border: none;
    border-radius: 7px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    font-weight: bold;
}

@media (max-width: 768px) {
    header {
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: center;
        width: 100%;
        z-index: 1000;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .logo {
        display: none;
    }

    .links {
        display: flex;
        gap: 5px;
    }

    .links,
    nav,
    ul {
        gap: 20px;
    }

    .links a {
        font-weight: bold;
        font-size: 14px;
    }
}